.container {
    max-width: 120rem;
    margin: 8rem auto;
    //background-color: var(--color-grey-light-1);
    //box-shadow: var(--shadow-dark);
    border: 1px solid gray;
    min-height: 50rem;
}

.calculator {
    //max-width: 120rem;
    margin: 8rem;
    padding: 2rem;
    width: 50%;
    //background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    &__title {
        margin: 2rem 0;
        border-bottom: 1px solid grey;
    }
}

.title {
    margin: 1rem 2rem;
    border-bottom: 1px solid gray;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;

    &__range {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__slider {
        width: 80%;
        position: relative;
        -webkit-appearance: none;
        height: 15px;
        border-radius: 5px;   
        background: #d3d3d3;
        outline: none;
        opacity: 0.9;
        overflow: hidden;
        -webkit-transition: all .2s;
        transition: opacity .2s;
    }

    &__input {
        width: 4rem;
        height: 3.2rem;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
    }
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: none; /* 1 */
}

::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-primary-blue);
    cursor: pointer;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: none;
    border-radius: 50% !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}
