.container {
    max-width: 120rem;
    margin: 8rem auto;
    border: 1px solid gray;
    min-height: 50rem;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10rem;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 2rem;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    padding: 2rem;
    box-shadow: var(--shadow-dark);
    z-index: 100;
    min-height: 50rem;

    @media only screen and (max-width: $bp-small) {
        width: 100%;
    }

    &__title {
        margin: 2rem 0;
        border-bottom: 1px solid grey;
    }

    &__button {
        width: 100%;
        height: 4.5rem;
        border-radius: 4px;
        background-color: #0077c0;
        text-transform: uppercase;
        color: var(--color-white);
        font-size: 1.6rem;
        letter-spacing: 0.3px;
        cursor: pointer;
    }
}

.title {
    margin: 1rem 2rem;
    border-bottom: 1px solid gray;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;

    &__range {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__slider {
        width: 80%;
        position: relative;
        -webkit-appearance: none;
        height: 15px;
        border-radius: 5px;   
        background: #d3d3d3;
        outline: none;
        opacity: 0.9;
        overflow: hidden;
        -webkit-transition: all .2s;
        transition: opacity .2s;
    }

    &__input {
        width: 6rem;
        height: 4.5rem;
        border: 1px solid gray;
        border-radius: 5px;
        text-align: center;
        font-size: 1.6rem;
    }
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: none;
}

::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-primary-blue);
    cursor: pointer;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: none;
    border-radius: 50% !important;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    box-sizing: border-box;
}


.form-group {
    font-size: 1.6rem;

    &__input-container {
        display: flex;
        align-items: center;
        margin-top: .5rem;
        position: relative;
    }

    &__input {
        width: 100%;
        height: 4.5rem;
        border-radius: 4px;
        border: solid 1px var(--color-grey-dark-3);
        padding: 0 3rem;
        font-size: inherit;
    }

    &__input--error {
        border: solid 1px var(--color-red);
    }

    &__dollar {
        position: absolute;
        left: 2rem;
    }

    &__input:focus {
        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
        border: solid 1px #3e3d3f;
        outline: none;
    }

    &__width {
        width: 48%;
    }
}

.anual {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

////////////////RESULT///////////////////

.result {
    width: 29.8rem;
    height: 44rem;
    background-color: #eaf6fa;
    padding: 2rem;

    @media only screen and (max-width: $bp-small) {
        width: 100%;
        opacity: 0;
    }

    &__title {
        font-size: 2.2rem;
        color: var(--color-grey-2);
        font-weight: normal;
        margin-bottom: 2.5rem;
    }

    &__unit-container {
        border-bottom: 1px solid var(--color-grey-2);
    }

    &__unit {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;
    }

    &__label {
        font-size: 1.4rem;
        color: var(--color-grey-2);
    }

    &__price {
        font-size: 1.8rem;
        color: var(--color-grey-2);
    }

    &__total {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        margin-top: 2.5rem;
        color: var(--color-grey-2);
    }
}
